In [28]:
import MLOPS.datacollect

ModuleNotFoundError: No module named 'dotenv'

In [23]:
df_test=pd.read_csv('data/test.csv')

In [24]:
df_test

              timestamp      open      high       low     close  volume
0   2024-12-13 19:55:00  230.5000  230.5000  230.5000  230.5000      35
1   2024-12-13 19:50:00  230.7999  230.7999  230.7999  230.7999      15
2   2024-12-13 19:45:00  230.5000  230.5000  230.5000  230.5000      40
3   2024-12-13 19:40:00  230.5000  230.5000  230.5000  230.5000       8
4   2024-12-13 19:35:00  230.8000  230.8000  230.6000  230.6000      40
..                  ...       ...       ...       ...       ...     ...
95  2024-12-13 10:45:00  231.5300  231.9000  231.3700  231.7900   21513
96  2024-12-13 10:40:00  232.0300  232.0400  231.4142  231.4142   17229
97  2024-12-13 10:35:00  231.9400  232.1700  231.9301  232.0900   14906
98  2024-12-13 10:30:00  231.7500  231.9700  231.7350  231.9250   12423
99  2024-12-13 10:25:00  231.2400  231.8189  231.0000  231.7250   31387

[100 rows x 6 columns]