In [1]:
import numpy as np
import pandas as pd

In [30]:
week_064=pd.read_csv("//ad.univ-lille.fr/Etudiants/Homedir3/192846/Desktop/MLOPS/data/restaurant_1_week_064.csv")
week_065=pd.read_csv("//ad.univ-lille.fr/Etudiants/Homedir3/192846/Desktop/MLOPS/data/restaurant_1_week_065.csv")
week_098=pd.read_csv("//ad.univ-lille.fr/Etudiants/Homedir3/192846/Desktop/MLOPS/data/restaurant_1_week_098.csv")
week_172=pd.read_csv("//ad.univ-lille.fr/Etudiants/Homedir3/192846/Desktop/MLOPS/data/restaurant_1_week_172.csv")

In [31]:
print("Nombre de commandes :",len(week_064),"\n Nombre d'articles :",len(np.unique(week_064['Item Name'])),"\n Prix moyen :",np.average(week_064["Product Price"]),"\n CA moyen :",np.average(week_064["Product Price"]*week_064["Quantity"]))

Nombre de commandes : 149
 Nombre d'articles : 72
 Prix moyen : 5.519798657718122
 CA moyen : 6.134563758389263

In [32]:
print("Nombre de commandes :",len(week_098),"\n Nombre d'articles :",len(np.unique(week_098['Item Name'])),"\n Prix moyen :",np.average(week_098["Product Price"]),"\n CA moyen :",np.average(week_098["Product Price"]*week_098["Quantity"]))

Nombre de commandes : 337
 Nombre d'articles : 103
 Prix moyen : 5.372255192878339
 CA moyen : 5.862314540059348

In [33]:
print("Nombre de commandes :",len(week_172),"\n Nombre d'articles :",len(np.unique(week_172['Item Name'])),"\n Prix moyen :",np.average(week_172["Product Price"]),"\n CA moyen :",np.average(week_172["Product Price"]*week_172["Quantity"]))

Nombre de commandes : 461
 Nombre d'articles : 113
 Prix moyen : 5.354121475054231
 CA moyen : 5.99652928416486

In [47]:
week_064

,Order Number,Order Date,Item Name,Quantity,Product Price,Total products
0,2188,2016-03-27 12:11:00,Mint Sauce,1,0.50,3
1,2183,2016-03-26 18:14:00,Onion Chutney,1,0.50,9
2,2164,2016-03-23 17:16:00,Onion Chutney,1,0.50,10
3,2164,2016-03-23 17:16:00,Mint Sauce,1,0.50,10
4,2164,2016-03-23 17:16:00,Red Sauce,1,0.50,10
...,...,...,...,...,...,...
144,2184,2016-03-26 18:40:00,Madras,1,11.95,4
145,2172,2016-03-24 18:59:00,Tandoori Mixed Grill,2,11.95,2
146,2176,2016-03-25 16:56:00,King Prawn Biryani,1,12.95,5
147,2134,2016-03-21 19:49:00,Bengal King Prawn,1,12.95,6
148,2134,2016-03-21 19:49:00,Lamb Shashlick Curry,1,12.95,6

In [43]:
X=[week_064.Quantity,week_064["Product Price"]]
Y=np.array(round(sum(week_065.Quantity*week_065["Product Price"]),2))

In [45]:
Y

array(593.95)

In [46]:
regr=svm.SVR()
regr.fit(X,Y.reshape(1,-1))

c:\Logiciels\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Found input variables with inconsistent numbers of samples: [2, 1]

In [41]:
sum(week_065.Quantity*week_065["Product Price"])

593.9499999999998