In [4]:
#!pip install numpy
#!pip install pandas

ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\lenovo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
import numpy as np
import pandas as pd
import os

In [1]:
from utils import extract

In [2]:
test=extract()

In [3]:
test

,Order Number,Order Date,Item Name,Quantity,Product Price,Total products,Week
0,2188,2016-03-27 12:11:00,Mint Sauce,1,0.50,3,64
1,2183,2016-03-26 18:14:00,Onion Chutney,1,0.50,9,64
2,2164,2016-03-23 17:16:00,Onion Chutney,1,0.50,10,64
3,2164,2016-03-23 17:16:00,Mint Sauce,1,0.50,10,64
4,2164,2016-03-23 17:16:00,Red Sauce,1,0.50,10,64
...,...,...,...,...,...,...,...
456,9269,2018-04-19 22:46:00,King Prawn Shaslick,1,12.95,6,172
457,9236,2018-04-17 18:41:00,Bengal King Prawn,1,12.95,5,172
458,9225,2018-04-16 18:23:00,Hazary Lamb Chilli Garlic,1,12.95,4,172
459,9224,2018-04-16 18:18:00,Hazary Lamb Chilli Garlic,1,12.95,5,172
460,9224,2018-04-16 18:18:00,House Red wine 75cl,2,17.95,5,172

In [ ]:
print("Nombre de commandes :",len(week_064),"\n Nombre d'articles :",len(np.unique(week_064['Item Name'])),"\n Prix moyen :",np.average(week_064["Product Price"]),"\n CA moyen :",np.average(week_064["Product Price"]*week_064["Quantity"]))

In [ ]:
print("Nombre de commandes :",len(week_098),"\n Nombre d'articles :",len(np.unique(week_098['Item Name'])),"\n Prix moyen :",np.average(week_098["Product Price"]),"\n CA moyen :",np.average(week_098["Product Price"]*week_098["Quantity"]))

In [ ]:
print("Nombre de commandes :",len(week_172),"\n Nombre d'articles :",len(np.unique(week_172['Item Name'])),"\n Prix moyen :",np.average(week_172["Product Price"]),"\n CA moyen :",np.average(week_172["Product Price"]*week_172["Quantity"]))

In [ ]:
week_064

In [43]:
X=[week_064.Quantity,week_064["Product Price"]]
Y=np.array(round(sum(week_065.Quantity*week_065["Product Price"]),2))

In [ ]:
Y

In [ ]:
regr=svm.SVR()
regr.fit(X,Y.reshape(1,-1))

In [ ]:
sum(week_065.Quantity*week_065["Product Price"])